# Created by .ignore support plugin (hsz.mobi)
.bash_aliases
.gitignore
.sudo_as_admin_successful
.vagrant/
Homestead.yaml
Vagrantfile
after.sh
aliases
composer.json
composer.lock
vendor/autoload.php
vendor/bin/
vendor/composer/
vendor/laravel/homestead/.editorconfig
vendor/laravel/homestead/.gitattributes
vendor/laravel/homestead/.github/
vendor/laravel/homestead/.gitignore
vendor/laravel/homestead/.travis.yml
vendor/laravel/homestead/CHANGELOG.md
vendor/laravel/homestead/Homestead.yaml.example
vendor/laravel/homestead/LICENSE.txt
vendor/laravel/homestead/Vagrantfile
vendor/laravel/homestead/bin/
vendor/laravel/homestead/composer.json
vendor/laravel/homestead/composer.lock
vendor/laravel/homestead/init.bat
vendor/laravel/homestead/init.sh
vendor/laravel/homestead/phpunit.xml.dist
vendor/laravel/homestead/readme.md
vendor/laravel/homestead/resources/
vendor/laravel/homestead/scripts/
vendor/laravel/homestead/src/
vendor/laravel/homestead/tests/
vendor/psr/
vendor/symfony/
